* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 16px;
}

nav a:hover {
  background-color: #404040;
  color: #fff;
}
nav a.active {
  background-color: #404040;
}

nav img {
  width: 50px;
  vertical-align: middle;
  margin-left: 10px;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.no_record h2 {
  text-align: center;
  text-transform: uppercase;
}

.no_record {
  margin-top: 15%;
}

table > thead > tr > th:last-child {
  width: 190px;
}
table > thead > tr > th:first-child {
  width: 40px;
}
